BETTER_AUTH_SECRET="xxx"
DATABASE_URL="xxx"

# Monitoring (optional)
SENTRY_DSN="https://examplePublicKey@o0.ingest.sentry.io/0"
NEXT_PUBLIC_SENTRY_DSN="https://examplePublicKey@o0.ingest.sentry.io/0"
SENTRY_AUTH_TOKEN="sntrys_xxx"
